// COLORS

$color-primary:#55c57a;
$color-primary-dark: #28b485;
$color-black: black;
$color-grey-dark: #777;
$color-white: #fff;
$color-black:#000000;
$color-orange-light: #ffb900;
$color-orange-dark: #ff7720;
$color-blue-light: #2998fe;
$color-blue-dark: #5643fa;

//GRID
$grid-horizontal: 5rem;
$grid-vertical: 6rem;
$grid-width: 100rem;

//FONT
$default-font-size: 1.5rem;